@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background-rgb: 0 0 0;
    --foreground-rgb: 240 242 245;

    --card-rgb: 17 17 17;
    --card-foreground-rgb: 240 242 245;

    --popover-rgb: 17 17 17;
    --popover-foreground-rgb: 240 242 245;

    --primary-rgb: 14 156 251;
    --primary-foreground-rgb: 255 255 255;
    
    --secondary-rgb: 38 38 38;
    --secondary-foreground-rgb: 240 242 245;

    --muted-rgb: 38 38 38;
    --muted-foreground-rgb: 160 160 165;

    --accent-rgb: 252 179 218;
    --accent-foreground-rgb: 20 20 22;

    --destructive-rgb: 220 38 38;
    --destructive-foreground-rgb: 255 255 255;
    
    --border-rgb: 38 38 38;
    --input-rgb: 38 38 38;
    --ring-rgb: 14 156 251;

    --background: var(--background-rgb);
    --foreground: var(--foreground-rgb);
    --card: var(--card-rgb);
    --card-foreground: var(--card-foreground-rgb);
    --popover: var(--popover-rgb);
    --popover-foreground: var(--popover-foreground-rgb);
    --primary: var(--primary-rgb);
    --primary-foreground: var(--primary-foreground-rgb);
    --secondary: var(--secondary-rgb);
    --secondary-foreground: var(--secondary-foreground-rgb);
    --muted: var(--muted-rgb);
    --muted-foreground: var(--muted-foreground-rgb);
    --accent: var(--accent-rgb);
    --accent-foreground: var(--accent-foreground-rgb);
    --destructive: var(--destructive-rgb);
    --destructive-foreground: var(--destructive-foreground-rgb);
    --border: var(--border-rgb);
    --input: var(--input-rgb);
    --ring: var(--ring-rgb);
    --radius: 0.75rem;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    background-color: rgb(var(--background));
    color: rgb(var(--foreground));
  }
}
